.bd-example .table{
    margin-top: 30px; 
} 
h2{
    text-align: center;
    padding-top: 20px;
}
.top{
    text-align: center;
}
p strong{
    color: red;
}
.main{
    padding-top: 20px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px auto;
   padding-left: 20px;
   padding-right: 20px;
}
.card{
    border: 2px solid black;
}
